loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: loki.local
        paths:
          - /

# Promtail ships the logs to Loki
promtail:
  enabled: true
  config:
    clients:
      - url: http://{{ .Release.Name }}:3100/loki/api/v1/push