global:
  imagePullSecrets: []

grafana:
  enabled: true
  adminPassword: admin
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - grafana.local
    path: /

prometheus:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - prometheus.local
    paths:
      - /
  prometheusSpec:
    retention: 6h
    storageSpec: {}
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

prometheusOperator:
  namespaces:
    releaseNamespace: false

# prometheus-node-exporter:
#   enabled: true
#   hostNetwork: false
#   hostPort: false
#   service:
#     port: 9100
#   extraArgs:
#     - --web.listen-address=:9100
#   tolerations:
#     - operator: Exists
#   resources:
#     requests:
#       cpu: 50m
#       memory: 64Mi
#     limits:
#       cpu: 100m
#       memory: 128Mi

prometheus-node-exporter:
  enabled: true
  hostNetwork: false
  hostPort: 9101        # Move the hostPort away from 9100 just in case
  service:
    port: 9100
    targetPort: 9101    # Map internal container port to 9101
  extraArgs:
    - --web.listen-address=:9101

  tolerations:
    - operator: Exists

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

alertmanager:
  enabled: false

kubeEtcd:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

defaultRules:
  create: true
