# Using the Jaeger "all-in-one" for Minikube efficiency
allInOne:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - jaeger.local
    path: /
  resources:
    limits:
      memory: 512Mi
      cpu: 500m
    requests:
      memory: 256Mi
      cpu: 100m      
storage:
  type: memory # Ephemeral for local testing
cassandra:
  enabled: false  