controller:
  adminUser: admin
  adminPassword: admin123

  image:
    registry: docker.io
    repository: jenkins/jenkins
    tag: lts-jdk11   # smaller & more stable

  serviceType: ClusterIP

  resources:
    requests:
      cpu: "300m"
      memory: "768Mi"
    limits:
      cpu: "1"
      memory: "1500Mi"

  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - credentials-binding
    - pipeline-stage-view
